@tailwind base;
@tailwind components;
@tailwind utilities;

/*PARA SIDEBAR*/
.SideBar {
    background-color: #1E1E2F;
    width: 17%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: 100;
    /*PARA GLASS*/
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../../public/sideBar.png");
}


.SideBarHidden {
    background-color: #1E1E2F;
    width: 11%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: 100;
    /*PARA GLASS*/
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../../public/sideBar.png");
}




.ContentSideBar {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.474);
    transition: all 0.3s ease;
    padding: 20px;
}

.Acordion span{
    color: #fff;
    font-weight: 500;
    margin-left: 10px;

}

.userProfileContent{
    
}
.ContentBox {
    margin-left: 20%;
    transition: all 0.3s ease;
    width: 78%;
}
.ContentBoxAll{
    margin-left: 10%;
    transition: all 0.3s ease;
    width: 85%;
}

/*User profile*/
.Profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}